@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
h3,
p {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

#contact {
  font-size: 14px;
  font-family: monospace;
}

h1 {
  font-size: 45px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  background: #38b6ff;
  padding: 30px 120px;
  border-radius: 10px;
  margin-top: 40px;
}
h3 {
  font-family: var(--secondary-font-family);
}

.logo {
  max-height: 100px;
  max-width: 140px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}
.nav-item {
  padding: 0 15px;
}
.active {
  color: var(--primary-color) !important;
}
footer {
  margin-bottom: 30px;
}

footer .social-links a {
  margin: 0;
  color: var(--secondary-color);
  background-color: #38b6ff;
  padding: 10px 14px;
  font-size: 20px;
  border-radius: 30px;
  margin-top: 10px;
}

footer .social-links a:hover {
  background: white;
  color: var(--primary-color);
  transition: all 150ms ease-in-out;
}

@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 44px;
  }

  p,
  h2 {
    margin-top: -40;
    margin-bottom: 0px;
    padding: 0px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  .about-section h1 {
    font-size: 40px;
    line-height: 1;
  }
}